*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --deepBlue: #02042a;
    --lightBlue: #2b84ea;
    --lightBlue300: #4b94ed;
    --lightBlue500: #0b72e7;
    --greenLight: #61cea6;
    --grayText: #818597;
    --lightGray: #e2e2e2;
    --grayBlue: #344a6c;
    --deepBlueHead: #162f56;
    --gray2: #525a76;
}
.backgroundImage{
    /* filter: blur(2px); */
    position: relative;
    width: 100wh;
    height: 100vh;

    overflow-y: hidden;
    
    img{
        width: 100%;
        height: 120vh;


    }
}

.container{
    padding-left: 40px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    section{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            transform: translateY(20px);
        }
    }
}
section div>p:nth-child(1){
    transform: translateY(-110px);
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    /* letter-spacing: 1px; */
    span{
        color: rgb(73, 208, 140);
    }
}

section div>:nth-child(2){
    transform: translateY(-85px);
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
    list-style-type: none;
    li{
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.form{
    
    padding-top: 50px;
    width: 450px;
    height: 580px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: whitesmoke;
    gap: 20px;
    #iconImage{
        transform: translateX(-140px) translateY(5px);
        border-radius: 8px;
        padding: 10px;
        background-color: var(--lightBlue500);
    }

}

.contentContainer{
    width: 320px;
    height: 500px;

    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    h4{
        font-size: .8rem;
        font-weight: 100;
        color: var(--grayText);
        opacity: 0.65;
        span{
            font-size: .9rem;
            font-weight:600;
            font-family: helvetica;
        }
    }
    p{
        line-height: 35px;
        font-weight: 600;
        font-size: 1.6rem;
    }
}

.inputSection{
    width: 100%;
}

input{
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid lightgray;
    outline: none;
}
input:hover{
    background-color: rgb(249, 247, 247);
    transition: all 150ms;
    transition-timing-function:ease-in-out;
}
input:focus{
    border: 1.5px solid blue;
    outline: 3px solid lightblue;
    /* outline-offset: 1px; */
    transition: all 150ms;
    transition-timing-function:ease-in-out;
}
input::placeholder{
    padding: 0 10px;
    color: lightgray;
}
#inputRes{
    font-size: .7rem;
    color: red;
}


#login{
    width: 100%;
    height: 40px;

    color: white;
    border: none;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}
#login:hover{
    background-color: var(--lightBlue500);
}

.line{
    width: 100%;
    height: 22px;
    display: flex;
    gap: 15px;
    justify-content: center;
    p{
        color: lightgray;
    }
    span{
        transform: translateY(7px);
        color: var(--grayText);
    }

}
.emailBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 5px;
    gap: 2px;
    font-weight: 600;
    cursor: pointer;
}
.emailBtn:hover{
    background-color: var(--lightGray);
}

footer{
    margin-top: 70px;
    font-size: 0.69rem;
    color: var(--grayText);
    a{
        font-weight: 600;
        color: var(--lightBlue500);
        text-decoration: none;
    }
}
footer>a:hover{
    text-decoration: underline;
}
